<!-- DotPlot Logo and Frame Title -->
<header class="dotplot-view-top">
  <div class="project-info">
    <div class="dotplot-view-logo">
        <img src="/assets/img/bkc_logo.png" alt="Berkman Klein Center logo">
    </div>
    <h1>{{ model.project.title }}</h1>
  </div>
  <div class="frame-info">
    <h2><em>{{if model.project.currentFrame model.project.currentFrame.title "Sorry the provided project id is invalid."}}</em></h2>
  </div>
</header>

<!-- DotPlot Main Project View Container -->
<main class="dotplot-view-main">
    <div id="canvas-wrapper">
      <svg></svg>
      <div id="foci-labels"></div>
    </div>
    <div class="dotplot-view-controls">
      {{#if model.project.hasPreviousFrame }}
        {{mdl-button isRaised=true text='PREVIOUS' class="dotplot-button dotplot-button-green" click=(action 'changeFrame' 'previous')}}
      {{/if}}
      {{#if model.project.hasNextFrame }}
        {{mdl-button isRaised=true text='NEXT' class="dotplot-button dotplot-button-blue" click=(action 'changeFrame' 'next')}}
      {{/if}}
    </div>
</main>

<!-- DotPlot Node Info Container -->
<div id="nodeInfo" class="dotplot-dialog dotplot-nodeinfo">
    <!-- Close Info Container Button -->
    <a href="#" class="dotplot-nostyle-link dotplot-hideinfo" {{action "hideDotInfo"}}><i class="dotplot-icon-close"></i></a>

    <!-- Node Info List -->
    <div class="dotplot-nodeinfolist">
        {{#each info as |nodedetails|}}
        <div class="dotplot-nodefield">
            <h2><span>Question:</span> {{nodedetails.question}}</h2>
            <p><span>Answer:</span> {{nodedetails.answer}}</p>
        </div>
        {{/each}}
    </div>
</div>

{{outlet}}
