<div class="project project-view">
  <!-- DotPlot Main Project View Container -->
  <header>
    <h1>{{ model.title }}</h1>
  </header>
  <main class="view-main">
    {{dot-canvas showAsScroll=model.showAsScroll afterInsert=afterCanvasInsert}}
    {{# if model.showAsScroll }}
      {{scrolling-canvas project=model dims=dims nextFrame=(action 'nextFrame') prevFrame=(action 'prevFrame')}}
    {{else}}
      <div class="view-controls">
        {{#if model.hasPreviousFrame }}
          {{mdl-button isRaised=true text='PREVIOUS' class="button button-green" click=(action 'prevFrame')}}
        {{/if}}
        {{#if model.hasNextFrame }}
          {{mdl-button isRaised=true text='NEXT' class="button button-blue" click=(action 'nextFrame')}}
        {{/if}}
      </div>
    {{/if}}
  </main>

  <!-- DotPlot Node Info Container -->
  <div id="nodeInfo" class="dialog nodeinfo">
      <!-- Close Info Container Button -->
      <a href="#" class="nostyle-link hideinfo" {{action "hideDotInfo"}}>{{mdl-icon icon="close"}}</a>

      <!-- Node Info List -->
      <div class="nodeinfolist">
          {{#each info as |nodedetails|}}
          <div class="nodefield">
              <p class="question"><span>Question:</span> {{nodedetails.question}}</p>
              <p><span>Answer:</span> {{nodedetails.answer}}</p>
          </div>
          {{/each}}
      </div>
  </div>
</div>
