<section class="dotplot-sidebar">
    <header class="dotplot-sidebar-header">
        <div class="dotplot-logo">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="dotplot-sidebar-buttons">
            {{mdl-button isRaised=true text='UPLOAD' class="dotplot-button dotplot-button-green" click=(action 'showModel' 'fileUpload')}}
            {{mdl-button isRaised=true text='SETTINGS' class="dotplot-button dotplot-button-orange dotplot-float-right"}}
        </div>
    </header>
    <div class="dotplot-sidebar-data">
        <div class="dotplot-frames">
            {{#each model.frames as |frame|}}
                {{#mdl-card class="dotplot-frame animated fadeIn"}}
                    <div class="mdl-card__supporting-text dotplot-margin-tb9 dotplot-pointer"  onclick={{action 'selectFrame' frame}}>
                        <div class="dotplot-font-medium dotplot-margin-b12">
                            <span>
                                <b>title: </b>
                                {{frame.title}}
                            </span>
                        </div>
                        <div class="dotplot-font-medium">
                            <span><b>count: </b> {{frame.fociCount}}</span>
                            <span class="dotplot-float-right"><b>type: </b> {{frame.type}}</span>
                        </div>
                    </div>
                    {{#mdl-card-actions class="dotplot-frame-footer"}}
                        <div class="dotplot-frame-controls dotplot-float-left">
                            <i class="dotplot-icon-switch"></i>{{frame.switch}}
                        </div>
                        <div class="dotplot-frame-controls dotplot-float-right dotplot-text-right">
                            <a href="#" class="dotplot-nostyle-link" {{action "d3Plot" frame}}><i class="dotplot-icon-reset"></i></a>
                            <a href="#" class="dotplot-nostyle-link" {{action "saveNodePositions" frame}}><i class="dotplot-icon-save"></i></a>
                            <a href="#" class="dotplot-nostyle-link" {{action "deleteFrame" frame}}><i class="dotplot-icon-close"></i></a>
                        </div>
                    {{/mdl-card-actions}}
                {{/mdl-card}}
            {{/each}}
        </div>
        {{#mdl-card class="dotplot-frame dotplot-low-opacity" click=(action 'showModel' 'createFrame')}}
            <div class="mdl-card__supporting-text dotplot-margin-tb9">
                <div class="dotplot-frame-add">
                    ADD FRAME
                </div>
            </div>
            {{#mdl-card-actions class="dotplot-frame-footer"}}
                <div class="dotplot-frame-controls dotplot-float-left">
                    <i class="dotplot-icon-switch"></i> Scroll
                </div>
                <div class="dotplot-frame-controls dotplot-float-right dotplot-text-right">
                    <i class="dotplot-icon-reset"></i>
                    <i class="dotplot-icon-save"></i>
                    <i class="dotplot-icon-close"></i>
                </div>
            {{/mdl-card-actions}}
        {{/mdl-card}}
    </div>
    <footer class="dotplot-sidebar-footer">
        <p>Looks good enough? You can either export the nodes or publish it on our platform.</p>
        <div>
            {{mdl-button isRaised=true text='SAVE' class="dotplot-button dotplot-button-blue"}}
            {{mdl-button isRaised=true text='PUBLISH' class="dotplot-button dotplot-button-blue dotplot-float-right"}}
        </div>
    </footer>
</section>
<main class="dotplot-main-content">
    <div class="dotplot-top-bar">
        <p>{{if frame frame.title "Oops! Looks like you have not created any frames."}}</p>
        <div class="dotplot-top-details">
            <span><b>Charge Points:</b> {{if frame frame.fociCount "No Data"}} </span>
            <span><b>Node Count:</b> {{if frame frame.nodeCount "No Data"}} </span>
            <span><b>Position:</b> CS</span>
        </div>
    </div>
    <div class="dotplot-nodes"></div>
    <div class="dotplot-bottom-bar">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <p class="dotplot-slider-label">Node Size</p>
                {{mdl-slider min=0 max=15 value=nodeSize change=(action 'changeRadius')}}
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <p class="dotplot-slider-label">Foci Distance</p>
                {{mdl-slider min=0 max=10 value=gravity change=(action 'changeGravity')}}
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <p class="dotplot-slider-label">Foci Charge</p>
                {{mdl-slider min=0 max=100 value=charge change=(action 'changeCharge')}}
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                {{mdl-switch text='Show Labels' value=valueA class="dotplot-wrapper"}}
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                {{mdl-switch text='Node Details' value=valueA class="dotplot-wrapper"}}
            </div>
        </div>
    </div>
</main>

<dialog id="createFrame" class="dotplot-dialog dotplot-dialog-medium animated zoomIn">
    <header>
        <p class="dotplot-heading">Create a new frame. Start by selecting single or multiple columns from the list bellow.</p>
        {{mdl-textfield value=frameTitle label='Tell us something about the nodes' class="dotplot-full-width"}}
    </header>
    <main class="dotplot-column-items">
        {{#each columns as |column|}}
            {{#mdl-card click=(action "selectColumn" column.key) id=(concat "column_" column.key)}}
                <div class="mdl-card__supporting-text dotplot-margin-tb9">
                    <div class="dotplot-font-medium dotplot-margin-b12">
                        <span class="dotplot-margin-right"><b>Column Id: </b> {{column.key}}</span>
                        <span class="dotplot-margin-right"><b>Type: </b> {{#if column.choice}}Multiple Choice {{else}}Single Choice{{/if}}</span>
                    </div>
                    <div class="dotplot-font-medium">
                        <span>{{column.text}}</span>
                    </div>
                </div>
            {{/mdl-card}}
        {{/each}}
    </main>
    <footer class="dotplot-margin-t25">
        {{mdl-button action=(action "hideModel" 'createFrame') isRaised=true text='CANCEL' class="dotplot-button dotplot-button-blue"}}
        {{mdl-button action=(action "createFrame") isRaised=true text='CREATE' class="dotplot-button dotplot-button-blue dotplot-float-right"}}
    </footer>
</dialog>

<dialog id="fileUpload" class="dotplot-dialog dotplot-dialog-small animated zoomIn">
    <header>
        <p class="dotplot-heading">To create a visualisation upload a .csv file.</p>
        {{mdl-textfield value=mainTitle label='Tell us something about your visualisation.' class="dotplot-full-width"}}
    </header>
    <footer>
        {{#x-file-input action=(action "fileUpload")}}
            {{mdl-button isRaised=true text='SELECT A CSV FILE FROM THE DISK' class="dotplot-full-width dotplot-button dotplot-button-blue"}}
        {{/x-file-input}}
    </footer>
</dialog>
{{outlet}}
