<section class="dotplot-sidebar">
    <!-- DotPlot Heaher -->
    <header class="dotplot-sidebar-header">
        <!-- DotPlot Logo -->
        <div class="dotplot-logo">
            <img src="assets/img/logo.png" alt="">
        </div>
        <!-- DotPlot Buttons | Upload and Setting -->
        <div class="dotplot-sidebar-buttons">
            <div class="dotplot-load-buttons">
                {{#if model.project.survey}}
                    {{#mdl-button isRaised=true class="dotplot-button dotplot-button-red" click=(action 'resetApp')}} DELETE DATA {{/mdl-button}}
                {{else}}
                    {{#mdl-button isRaised=true class="dotplot-button dotplot-button-green" click=(action 'showModal' 'fileUpload')}} LOAD DATA {{/mdl-button}}
                {{/if}}
                {{mdl-button isRaised=true text='SETTINGS' class="dotplot-button dotplot-button-orange dotplot-float-right"}}
            </div>
            {{mdl-textfield value=fuzzyText label='Looking for something?' class="dotplot-full-width"}}
        </div>
    </header>

    <!-- DotPlot Sidebar | List of frames -->
    <div class="dotplot-sidebar-data">
        <!-- Created Frames -->
        <div class="dotplot-frames">
            {{#each model.project.frames as |frame|}}
                {{#mdl-card class="dotplot-frame animated fadeIn"}}
                    <div class="mdl-card__supporting-text dotplot-margin-tb9 dotplot-pointer"  onclick={{action 'selectFrame' frame}}>
                        <div class="dotplot-font-medium">
                            <span>
                                <b>Title: </b>
                                {{frame.title}}
                            </span>
                        </div>
                    </div>
                    {{#mdl-card-actions class="dotplot-frame-footer"}}
                        <div class="dotplot-frame-controls dotplot-float-left">
                            <i class="dotplot-icon-switch"></i>{{frame.switch}}
                        </div>
                        <div class="dotplot-frame-controls dotplot-float-right dotplot-text-right">
                            <a title="Reset Force Layout" href="#" class="dotplot-nostyle-link" {{action "d3Plot" frame true}}><i class="dotplot-icon-forcelayout"></i></a>
                            <a title="Edit Label Text" href="#" class="dotplot-nostyle-link" {{action "showModal" 'editLabel'}}><i class="dotplot-icon-label"></i></a>
                            <a title="Delete Frame" href="#" class="dotplot-nostyle-link" {{action "deleteFrame" frame}}><i class="dotplot-icon-close"></i></a>
                        </div>
                    {{/mdl-card-actions}}
                {{/mdl-card}}
            {{/each}}
        </div>

        <!-- Create Frame Button -->
        {{mdl-button click=(action 'createDialog') isRaised=true text='CREATE A NEW FRAME' class="dotplot-button dotplot-button-frame"}}
    </div>

    <!-- Sidebar Footer | Save and Publish -->
    <footer class="dotplot-sidebar-footer">
        <div>
            {{mdl-button click=(action 'exportData' 'save') isRaised=true text='EXPORT' class="dotplot-button dotplot-button-blue"}}
            {{mdl-button  click=(action 'exportData' 'publish') isRaised=true text='PUBLISH' class="dotplot-button dotplot-button-blue dotplot-float-right"}}
        </div>
    </footer>
</section>

<!-- DotPlot Main Content -->
<main class="dotplot-main-content">
    {{notification-container class="dotplot-notification-bottom" notifications=notifications position="bottom"}}
    <!-- Current Frame Information -->
    <div class="dotplot-top-bar">
        <p>
            {{if frame frame.title "Looks like you have not created any frames."}}
        </p>
        <div class="dotplot-top-details mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <b>Charge Points:</b> {{if frame frame.foci.length "No Data"}}
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <b>Node Count:</b> {{if frame frame.nodes.length "No Data"}}
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <b>Type:</b> {{if frame (question-type frame.type) "No Data"}}
            </div>
        </div>
    </div>

    <!-- DotPlot Nodes -->
    <div class="dotplot-nodes">
        <div id="dotplot-introData" class="dotplot-intro">
            <h1>Welcome to Dotplot!</h1>
            <ol class="dotplot-intro-list">
                <li>To create a visualisation start by uploading file using <b>"Load Data"</b> button.</li>
                <li>After uploading the file, click on <b>"Add Frame"</b> to create a visualisation.</li>
                <li>You may adjust the visuals by using the controls provided below.</li>
                <li>Once you're happy with the visuals you can either <b>export or pubhish it</b>.</li>
            </ol>
        </div>
        <svg width="0" height="0"></svg>
        {{mdl-button  click=(action 'loadSampleData') isRaised=true text='LOAD SAMPLE DATA' id='dotplot-button-sampleData' class="dotplot-button dotplot-button-blue dotplot-button-center"}}
    </div>

    <!-- DotPlot Controls For Current Frame -->
    <!--
    <div class="dotplot-bottom-bar">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <p class="dotplot-slider-label">Node Size</p>
                {{mdl-slider min=0 max=15 value=radius mouseUp=(action 'changeRadius')}}
            </div>
            {{!--<div class="mdl-cell mdl-cell--4-col">
                <p class="dotplot-slider-label">Foci Distance</p>
                {{mdl-slider min=0 max=10 value=gravity mouseUp=(action 'changeGravity')}}
            </div>--}}
            <div class="mdl-cell mdl-cell--4-col">
                <p class="dotplot-slider-label">Node Distance</p>
                {{mdl-slider min=0 max=20 value=charge mouseUp=(action 'changeCharge')}}
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                {{mdl-switch text='Show Labels' value=labels class="dotplot-wrapper"}}
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                {{mdl-switch text='Node Details' value=showNodeInfo class="dotplot-wrapper"}}
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                {{mdl-switch text='Server Render' value=server class="dotplot-wrapper"}}
            </div>
        </div>
    </div>
    -->
</main>

<!-- DotPlot Create New Frame Dialog -->
<dialog id="createFrame" class="dotplot-dialog dotplot-dialog-medium animated zoomIn">
    <header>
        <p class="dotplot-heading">Create a new frame. Start by selecting a survey question below.</p>
        {{mdl-textfield id="frameTitle" value=frameTitle label='Enter the frame title' class="dotplot-full-width"}}
    </header>

    <!-- List Of Columns -->
    <main class="dotplot-column-items">
        {{#each (framable-columns model.project.survey.columns) as |column|}}
            {{#mdl-card click=(action "selectColumn" column) id=(concat "column_" column.id)}}
                <div class="mdl-card__supporting-text dotplot-margin-tb9">
                    <div class="dotplot-font-medium dotplot-margin-b12">
                        <span class="dotplot-margin-right"><b>Question: </b> {{column.id}}</span>
                        <span class="dotplot-margin-right"><b>Type: </b> {{question-type column.type}}</span>
                    </div>
                    <div class="dotplot-font-medium">
                        <span>{{column.question}}</span>
                    </div>
                </div>
            {{/mdl-card}}
        {{/each}}
    </main>

    <!-- Create Frame Dialog Buttons | Create and Cancel -->
    <footer class="dotplot-margin-t25">
        {{mdl-button action=(action "hideModal" 'createFrame') isRaised=true text='CANCEL' class="dotplot-button dotplot-button-green"}}
        {{mdl-button action=(action "onCreateFrame") isRaised=true text='CREATE' class="dotplot-button dotplot-button-blue dotplot-float-right"}}
    </footer>
</dialog>

<!-- DotPlot Upload CSV file Dialog -->
<dialog id="fileUpload" class="dotplot-dialog dotplot-dialog-small animated zoomIn">
    <header>
        <p class="dotplot-heading">Upload a file or enter your project id to get started.</p>
        <p class="dotplot-paragraph">The app currently only supports <b>CSV file generated by Qualtrics</b>, and <b>JSON file generated by Dotplot</b>.</p>
        {{mdl-textfield value=projectTitle label='Tell us something about your visualisation.' class="dotplot-full-width"}}
        {{mdl-textfield value=projectId label='Enter your project id to load an already published project.' class="dotplot-full-width"}}
    </header>

    <!-- Upload CSV File Dialog Button -->
    <footer class="dotplot-margin-t25">
        {{#x-file-input action=(action "fileUpload")}}
            {{mdl-button isRaised=true text='SELECT CSV OR JSON FILE' class="dotplot-button dotplot-full-width dotplot-button-green dotplot-float-left"}}
        {{/x-file-input}}
        {{mdl-button action=(action "loadProject") isRaised=true text='LOAD PROJECT FROM ID' class="dotplot-button dotplot-button-blue dotplot-float-right"}}
    </footer>
</dialog>

<!-- DotPlot Edit Frame Labels Dialog -->
<dialog id="editLabel" class="dotplot-dialog dotplot-dialog-small animated zoomIn">
    <header>
        <p class="dotplot-heading">Change the text in the fields to update labels.</p>
        {{#each frame.foci as |label|}}
            {{mdl-textfield value=label.text label=(concat "Replacement text for " label.text) class="dotplot-full-width"}}
        {{/each}}
    </header>

    <!-- Edit Frame Labels Buttons | Cancel and Update Labels -->
    <footer class="dotplot-margin-t25">
        {{mdl-button action=(action "hideModal" 'editLabel') isRaised=true text='CANCEL' class="dotplot-button dotplot-button-green"}}
        {{mdl-button action=(action "updateLabels") isRaised=true text='UPDATE LABELS' class="dotplot-button dotplot-button-blue dotplot-float-right"}}
    </footer>
</dialog>

<!-- DotPlot Node Info Container -->
<div id="nodeInfo" class="dotplot-dialog dotplot-nodeinfo">
    <!-- Close Info Container Button -->
    <a href="#" class="dotplot-nostyle-link dotplot-hideinfo" {{action "hideDotInfo"}}><i class="dotplot-icon-close"></i></a>

    <!-- Node Info List -->
    <div class="dotplot-nodeinfolist">
        {{#each info as |nodedetails|}}
        <div class="dotplot-nodefield">
            <h2><span>Question:</span> {{nodedetails.question}}</h2>
            <p><span>Answer:</span> {{nodedetails.answer}}</p>
        </div>
        {{/each}}
    </div>
</div>

{{outlet}}
