<section class="dotplot-sidebar">
    <header class="dotplot-sidebar-header">
        <div class="dotplot-logo">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="dotplot-sidebar-buttons">
            {{mdl-button isRaised=true text='UPLOAD' class="dotplot-button dotplot-button-green" click=(action 'showModel' 'fileUpload')}}
            {{mdl-button isRaised=true text='SETTINGS' class="dotplot-button dotplot-button-orange dotplot-float-right"}}
        </div>
    </header>
    <div class="dotplot-sidebar-data">
        <div class="dotplot-frames">
            {{#each model.frames as |frame|}}
                {{#mdl-card class="dotplot-frame animated fadeIn" click=(action 'selectFrame' frame)}}
                    <div class="mdl-card__supporting-text dotplot-margin-tb9">
                        <div class="dotplot-font-medium dotplot-margin-b12">
                            <span><b>title: </b> {{frame.title}}</span>
                        </div>
                        <div class="dotplot-font-medium">
                            <span><b>count: </b> {{frame.count}}</span>
                            <span class="dotplot-float-right"><b>type: </b> {{frame.type}}</span>
                        </div>
                    </div>
                    {{#mdl-card-actions class="dotplot-frame-footer"}}
                        <div class="dotplot-frame-controls dotplot-float-left">
                            <i class="dotplot-icon-switch"></i> {{frame.switch}}
                        </div>
                        <div class="dotplot-frame-controls dotplot-float-right dotplot-text-right">
                            <i class="dotplot-icon-move"></i>
                            <i class="dotplot-icon-settings"></i>
                            <a href="#" class="dotplot-nostyle-link" {{action "deleteFrame" frame}}><i class="dotplot-icon-close"></i></a>
                        </div>
                    {{/mdl-card-actions}}
                {{/mdl-card}}
            {{/each}}
        </div>
        {{#mdl-card title=null class="dotplot-frame dotplot-low-opacity" click=(action 'showModel' 'createFrame')}}
            <div class="mdl-card__supporting-text dotplot-margin-tb9">
                <div class="dotplot-frame-add">
                    ADD FRAME
                </div>
            </div>
            {{#mdl-card-actions class="dotplot-frame-footer"}}
                <div class="dotplot-frame-controls dotplot-float-left">
                    <i class="dotplot-icon-switch"></i> Scroll
                </div>
                <div class="dotplot-frame-controls dotplot-float-right dotplot-text-right">
                    <i class="dotplot-icon-move"></i>
                    <i class="dotplot-icon-settings"></i>
                    <i class="dotplot-icon-close"></i>
                </div>
            {{/mdl-card-actions}}
        {{/mdl-card}}
    </div>
    <footer class="dotplot-sidebar-footer">
        <p>Looks good enough? You can either export the nodes or publish it on our platform.</p>
        <div>
            {{mdl-button isRaised=true text='EXPORT' class="dotplot-button dotplot-button-blue"}}
            {{mdl-button isRaised=true text='PUBLISH' class="dotplot-button dotplot-button-blue dotplot-float-right"}}
        </div>
    </footer>
</section>
<main class="dotplot-main-content">
    <div class="dotplot-top-bar">
        <p>Berkam Center of Internet and Society - Harvard University</p>
        <div class="dotplot-top-details">
            <span><b>Charge Points:</b> 10</span>
            <span><b>Node Count:</b> 100</span>
            <span><b>Position:</b> 3</span>
        </div>
    </div>
    <div class="dotplot-nodes"></div>
    <div class="dotplot-bottom-bar mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <p class="dotplot-slider-label">Node Size</p>
            {{mdl-slider min=0 max=100 value=57}} {{#mdl-checkbox value=valueB class="dotplot-checkbox dotplot-wrapper dotplot-margin-t20"}} Another Checkbox {{/mdl-checkbox}}
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <p class="dotplot-slider-label">Foci Distance</p>
            {{mdl-slider min=0 max=100 value=57}} {{#mdl-checkbox value=valueB class="dotplot-checkbox dotplot-wrapper dotplot-margin-t20"}} Another Checkbox {{/mdl-checkbox}}
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <p class="dotplot-slider-label">Foci Charge</p>
            {{mdl-slider min=0 max=100 value=57}}
        </div>
    </div>
</main>

<dialog id="createFrame" class="dotplot-dialog animated zoomIn">
    <header>
        <p class="dotplot-heading">Create a new frame. Start by selecting single or multiple columns from the list bellow.</p>
        {{mdl-textfield value=frameTitle label='Tell us something about the nodes' class="dotplot-full-width"}}
    </header>
    <main class="mdl-grid">
        <div class="mdl-cell--6-col dotplot-margin-right">
            <div class="dotplot-column-items">
                {{#each-in columns as |id text|}}
                    {{#mdl-card click=(action "selectColumn" id)}}
                        <div class="mdl-card__supporting-text dotplot-margin-tb9">
                            <div class="dotplot-font-medium dotplot-margin-b12">
                                <span><b>Column Id: </b> {{id}}</span>
                            </div>
                            <div class="dotplot-font-medium">
                                <span>{{text}}</span>
                            </div>
                        </div>
                    {{/mdl-card}}
                {{/each-in}}
            </div>
        </div>
        <div class="mdl-cell--6-col dotplot-margin-left">
            <p class="dotplot-labels-heading">Define labels for selected columns:</p>
            <div class="dotplot-labels">
                {{#each labelFields as label}}
                    {{mdl-textfield label=(concat 'Label for ' label)}}
                {{/each}}
            </div>
        </div>
    </main>
    <footer class="dotplot-frame-controls dotplot-float-right dotplot-margin-t25">
        {{mdl-button action=(action "hideModel" 'createFrame') isRaised=true text='CANCEL' class="dotplot-button dotplot-button-blue"}}
        {{mdl-button action=(action "createFrame") isRaised=true text='CREATE' class="dotplot-button dotplot-button-blue dotplot-float-right"}}
    </footer>
</dialog>

<dialog id="fileUpload" class="dotplot-dialog dotplot-dialog-small animated zoomIn">
    <header>
        <p class="dotplot-heading">To create a visualisation upload a .csv file.</p>
        {{mdl-textfield value=frameTitle label='Tell us something about your visualisation.' class="dotplot-full-width"}}
    </header>
    <footer>
        {{#x-file-input action=(action "fileUpload")}}
            {{mdl-button isRaised=true text='SELECT A CSV FILE FROM THE DISK' class="dotplot-full-width dotplot-button dotplot-button-blue"}}
        {{/x-file-input}}
    </footer>
</dialog>
{{outlet}}
